# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
themes/tradecraft/dist
themes/tradecraft/bower_components
themes/tradecraft/node_modules
themes/tradecraft/npm-debug.log
themes/tradecraft/*.sublime-project
themes/tradecraft/*.sublime-workspace
ai1wm-backups
